.vaccinationResult{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textInfo{
    width:28rem ;
    
}

.textInfo li, p{
    font-size: 0.9rem;
}

.barchart{
    max-width: 50rem;
}